<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-left">View Worker</h2>

        <div class="form-group">
          <span class='red'>*</span>
          <label>Worker Id:</label>
          {{WorkerId}}
        </div>

        <div class="form-group">
          <span class='red'>*</span>
          <label>Worker Name:</label>
          {{WorkerName}}
        </div>

        <div class="form-group">
          <span class='red'>*</span>
          <label>Worker Number:</label>
          {{WorkerNumber}}
        </div>

        <div class="form-group">
          <span class='red'>*</span>
          <label>Worker Phone:</label>
          {{WorkerPhone}}
        </div>

        <div class="form-group">
          <span class='red'>*</span>
          <label>Worker Email:</label>
          {{WorkerEmail}}
        </div>

        <div class="form-group">
          <span class='red'>*</span>
          <label>Salary:</label>
          {{WorkerSalary}}
        </div>

    </div>
  </div>
</div>
